div.all_show
  | &nbsp;
  div#search style="text-align: center;"
    div class="col-xs-12"
      input#ttt type="text" class="form-control input-sm" placeholder="Найти.."

  table class="table table-hover table-condensed"
    - @points.each do |point|
      tr.point id="#{point.bond}"
        td
        td style="font-size:12px; font-weight: bold;"
          = point.name
        td style="font-size:12px;"
          = point.ip
        td style="font-size:12px;"
          = point.owner
        - if current_user.nil?
          td style="font-size:12px;"
            = server_type(point.type_srv)
        - else
          td = link_to 'Изменить', edit_point_path(point)
          td = link_to 'Удалить', point, method: :delete, :remote => :true, :class => "del"