= form_for @point do |f|
  - if @point.errors.any?
    #error_explanation
      h2 = "#{pluralize(@point.errors.count, "error")} prohibited this point from being saved:"
      ul
        - @point.errors.full_messages.each do |message|
          li = message
  div.col-xs-12
    .field
      br
      = f.select :type_srv, options_for_select([['Тип сервера', 0], ['Физический', 1], ['Виртуальный', 2]], @point.type_srv), {}, html_options = {:class => "form-control"}
    .field
      = f.text_field :name, :placeholder => "Назначение..", :class => " form-control"
    .field
      = f.text_field :owner, :placeholder => "Ответственный..", :class => " form-control"
    .field
      = f.text_field :ip, :placeholder => "IP..", :class => " form-control"
    .field
      = f.text_field :netname, :placeholder => "Сетевое имя..", :class => " form-control"
    .field
      = f.text_field :os, :placeholder => "Операционная система..", :class => " form-control"
    .field
      span#addlink
        | Link |&nbsp;
      span#addbold
        | Bold
      br
      = f.text_area :description, :rows => "4", :placeholder => "Примечание..", :class => " form-control"
    .field
      = f.select :number_rack, options_for_select([['Укажите стойку', 0],['Шкаф: №1', 1], ['Шкаф: №2', 2], ['Шкаф: №3', 3], ['Шкаф: №4', 4], ['Шкаф: №5', 5]], @point.number_rack), {}, html_options = {:class => "form-control"}
    .field
      = f.text_field :position_in_rack, :placeholder => "Позиция в стойке U / № п\\п в блейде..", :class => "form-control"

    = f.hidden_field :server_id
    = f.hidden_field :bond
    = f.hidden_field :coord_x1
    = f.hidden_field :coord_y1
    = f.hidden_field :coord_x2
    = f.hidden_field :coord_y2
    br
    .actions = f.submit 'Сохранить', :class => "btn btn-default"
