DOCTYPE html
div
  div class="navbar navbar-default"
    div class="nav navbar-nav"
      = link_to "Виртуальная серверная", root_path, :class=>"brand pull-left navbar-brand"
      ul class="nav navbar-nav"
        li class="divider-vertical"
        li
          - if user_signed_in?
            li
              a
                b = current_user.name
            div style="position:absolute; top:5%; left:870px;"
              = button_to 'Выйти', destroy_user_session_path, :method => :delete, :class => "btn btn-link"
          - else
            =link_to 'Войти', new_user_session_path
