div.drag
  p
    | &nbsp;
  = add_server()
div.show
  table class="table table-hover table-condensed table-striped"
    tr style="font-size:12px;"
      td
      th Назначение
      th IP
      th Сетевое имя
      th Операционная система
      th Тип
      th Ответственный
      th Примечание
    - @points.each do |p|
      /- if p.bond == params[:point].to_i
      tr
        td
        = edit_server(p)
        td#ip class="#{p.ip}"
          = p.ip
        td#netname class="#{p.netname}"
          = p.netname
        td#os class="#{p.os}"
          = p.os
        td#type_srv class="#{p.type_srv}"
          = server_type(p.type_srv)
        td = p.owner
        td = sanitize(raw(p.description), tags: %w(a b), attributes: %w(href))

        input.rack type="hidden" value="#{p.number_rack}"
        input.position type="hidden" value="#{p.position_in_rack}"
        input.server_id type="hidden" value="#{p.server_id}"

        input.bond type="hidden" value="#{p.bond}"
        input.class-x1 type="hidden" value="#{p.coord_x1}"
        input.class-y1 type="hidden" value="#{p.coord_y1}"
        input.class-x2 type="hidden" value="#{p.coord_x2}"
        input.class-y2 type="hidden" value="#{p.coord_y2}"