DOCTYPE html
div#main
  div class="navbar navbar-default"
    div class="nav navbar-nav"
      = link_to "Виртуальная серверная", root_path, :class=>"brand pull-left navbar-brand"
      ul class="nav navbar-nav"
        li class="divider-vertical"
        li
          div style="margin-top:7px;"
            = select_tag "servers", options_for_select(Server.limit(10).collect{|s| [s.title, s.id]}, :selected => params[:servers_room].to_i), :class => "servers_room form-control"
        li class="divider-vertical"
        li
          a#all_servers href="#" Список оборудования
        li class="divider-vertical"
        li
          - if user_signed_in?
            li
              a
                b = current_user.name
            li
              = link_to 'Серверные', servers_path
            li
              div style="margin-top:7px;"
                = select_tag "reg", options_for_select([["Регистрация выкл.",0],["Регистрация вкл.",1]], @reg_change), :class => "reg_change form-control"
            div style="position:absolute; top:5%; left:90%;"
              = button_to 'Выйти', destroy_user_session_path, :method => :delete, :class => "btn btn-link"
          - else
            - if (@reg_change == 1)
              li
                = link_to 'Регистрация', new_user_registration_path
            li
              a
                div.sign Войти

  fieldset#signin_menu
    = render ('sign_in')

  fieldset#reg_menu
    = render ('sign_up')

  div.container
    = image_tag(@server.image, :id => "img_server",  :class => "add", :usemap => "#test")

  map name="test"
    - @points.each do |point|
      area shape="rect" id="#{point.bond}" name="#{point.name}" coords="#{point.coord_x1},#{point.coord_y1}, #{point.coord_x2},#{point.coord_y2}" href="/"

  fieldset#show_menu

  fieldset#add_menu
    = render "form"

  fieldset#all_srv
    = render "all_point"

  div style="text-align:center;"
    br
    small Автор идеи - Костин Алексей. (с)