$("#show_menu").html("<%= j render(:partial => 'points/show') %>");

$('p.supple_srv').click(function() {
// готовим вид менюшки для добавления сервера к имеющимся
  $("fieldset#add_menu").css("height","390px");
  $("input#point_position_in_rack").hide();
  $("select#point_number_rack, select#point_type_srv").hide();
// показываем ее
  $("fieldset#add_menu").show();
// даем потаскать
  $("fieldset#add_menu").draggable({ containment:'parent'});

  if (parseInt($('td#type_srv').attr("class")) == 1)
  {
      $('select#point_type_srv').val($('td#type_srv').attr("class"));

      $('input#point_bond').val($('input.bond').val());

      $('input#point_server_id').val($('input.server_id').val());
      $('input#point_position_in_rack').val($('input.position').val());
      $('select#point_number_rack').val($('input.rack').val());

      $('input#point_ip').val($('td#ip').attr("class"));
      $('input#point_os').val($('td#os').attr("class"));
      $('input#point_netname').val($('td#netname').attr("class"));

      $('input#point_coord_x1').val($('input.class-x1').val());
      $('input#point_coord_y1').val($('input.class-y1').val());
      $('input#point_coord_x2').val($('input.class-x2').val());
      $('input#point_coord_y2').val($('input.class-y2').val());
  } else {

      $('select#point_number_rack').val($('td#rack').attr("class"));
      $('input#point_server_id').val($('input.server_id').val());
      $('input#point_position_in_rack').val($('input.position').val());

      $('select#point_type_srv').val($('td#type_srv').attr("class"));

      $('input#point_bond').val($('input.bond').val());

      $('input#point_ip').val("");
      $('input#point_os').val("");
      $('input#point_netname').val("");

      $('input#point_coord_x1').val($('input.class-x1').val());
      $('input#point_coord_y1').val($('input.class-y1').val());
      $('input#point_coord_x2').val($('input.class-x2').val());
      $('input#point_coord_y2').val($('input.class-y2').val());
  }

});