= render 'points/head'
div  style="position:absolute; top: 50px; left: 50px;"
  h5 Регистрация:
  br
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    div class="col-xs-12"
      = f.email_field :email, :autofocus => true, :placeholder => "Email..", :class => "form-control"
      br
      = f.text_field :name, :placeholder => "Имя..", :class => "form-control"
      br
      = f.password_field :password, :placeholder => "Пароль..", :class => "form-control"
      br
      = f.password_field :password_confirmation, :placeholder => "Повторите пароль..", :class => "form-control"
      br

      = f.submit "Зарегистрироваться", :class => "btn btn-default"