= form_for @server do |f|
  div.col-xs-12
    = f.text_field :title, :placeholder => "Номер кабинета..", :class => " form-control"
    br
    div
      | Изображение:
      | &nbsp;
      = f.file_field :image
    div
      small * Размер загружаемого изображения: 1 157px × 750px
    br
    br
    .actions = f.submit 'Сохранить', :class => "btn btn-default"

br
= link_to 'На главную', root_path
