= render 'points/head'
div  style="position:absolute; top: 50px; left: 50px;"
  h4 Список доступных серверных:
  br
  table class="table table-hover"
    tr
      th ID
      th Местоположение
      th Изображение
      th
      th
    - @servers.each do |server|
      tr
        td = server.id
        td = server.title
        td
          img style='width:150px;' src= "#{server.image}"
        td = link_to 'Редактировать', edit_server_path(server)
        td = link_to 'Удалить', server, :confirm => 'Are you sure?', :method => :delete

  br
  = link_to 'На главную', root_path
  | &nbsp; | &nbsp;
  = link_to 'Добавить серверную', new_server_path