= render 'points/head'
div style="position:absolute; top: 50px; left: 50px;"
  h5 Форма входа:
  br
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    div class="col-xs-12"
      = f.email_field :email, :autofocus => true, :placeholder => "Email..", :class => "form-control"
      br
      = f.password_field :password, :placeholder => "Пароль..", :class => "form-control"
      br

      = f.submit "Войти", :class => "btn btn-default"
