// Place all the styles related to the Points controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
  min-width: 1100px;
  min-height: 890px;
}

.sign:hover {
  cursor:pointer;
}
.reg:hover {
  cursor:pointer;
}

/*меню "Регистрация"*/
#reg_menu {
  text-align: center;
  z-index: 10;
  width: 300px;
  height: 250px;
  border: 2px solid #4e4444;
  border-radius: 3px;
  display: none;
  background: #f3faff;
  position: absolute;
  top:10%;
  right:50%;
  opacity:0.95;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
  display: none;
}

/*меню "Вход"*/
#signin_menu {
  text-align: center;
  z-index: 10;
  width: 300px;
  height: 170px;
  border: 2px solid #4e4444;
  border-radius: 3px;
  display: none;
  background: #f3faff;
  position: absolute;
  top:10%;
  right:50%;
  opacity:0.95;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
  display: none;
}

#all_srv {
  z-index: 10;
  border: 2px solid #4e4444;
  border-radius: 2px;
  display: none;
  background: #f3faff;//#F9F9FF;//#f3faff;
  opacity:0.95;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
  overflow-y:scroll;
  position: absolute;
  top:45px;
  left:0%;
  width: 70px;
}

#add_menu {
  text-align: center;
  z-index: 30;
  width: 300px;
  min-height: 520px;
  border: 2px solid #4e4444;
  border-radius: 3px;
  display: none;
  background: #f3faff;
  position: absolute;
  top:10%;
  right:50%;
  opacity:0.95;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
}

#show_menu {
  z-index: 11;
  position: absolute;
  top:45px;
  left:385px;
  border: 2px solid #4e4444;
  border-radius: 2px;
  background: #f3faff;
  display: none;
  opacity:0.95;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0.95);
}

.all_show {
  overflow-y:scroll;
  height: 800px;
  width: 500px;
}

.show {
  max-height: 500px;
  width: 890px;
  overflow-y:scroll;
}

.supple_srv {
  width: 150px;
}

.supple_srv:hover {
  cursor: pointer;
  font-weight: solid;
}

.reg_change {
  width: 160px;
}

#addbold:hover, #addlink:hover {
  cursor: pointer;
  font-weight: bold;
}